:root {
    --table-border-color: rgb(4, 28, 36);
}

.list {
    background-color: #fff;
    padding: 10px;
}


.list__item{
   border: 2px solid var(--table-border-color);
   margin: 0px 0px 40px 0px;
}
.list__item__box{
     /* border: 1px solid rgba(19, 19, 233, .7); */
     margin: 0px 0px 50px 0px;
}
.list__item__date {
    font-size: 14px;
    font-weight: bold;
}
.list__item__title {
    font-size: 22px;
    cursor: pointer;
}
.list__content {
    display: grid;
    border: 1px solid rgba(118, 115, 134, .2);
    background-color: rgba(128, 128, 128, .05);
    /* border: 1px solid rgba(19, 19, 233, .3); */
    grid-template-columns: 80px 250px 250px 300px 100px 60px 280px 100px 80px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 0px 0px;
    align-items: center;
}
.list__button {
    display: flex;
}
.button__box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
    padding: 0px 15px 0px 0px;
    /* justify-content: space-between; */
}
.list__item__text {
    font-size: 14px;
    font-weight: 560;
}

.list__item__title__box {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.box__button__arhive {
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.button__arhive {
    border: 1px solid #1313e9;
    margin: 20px 20px 0px 0px;
    right: 0;
    padding: 4px 8px;
    border-radius: 10px;
    transition: all ease-out .3s;
    
}
.button__arhive:hover {
    background: rgba(19, 19, 233, .5);
    border: 1px solid transparent;
    color: rgb(253, 253, 253);
}