:root {
    --select-border-color: #1313e9;
}
.box {
    display: flex;
    /* gap: 5px; */
}
.sort {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--select-border-color);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    
}
.button {
     width: 26px;
    height: 32px;
    background: url(../../icon/delete.svg) no-repeat;
    background-size: 15px;
    background-position: center;
    background-color: transparent;
    border: 1px solid var(--select-border-color);
    border-left: 0px solid;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: .1s;

}
.button:hover {
    /* background-size: 17px; */
    
    /* background: teal; */
    color: rgb(253, 253, 253);
}

