.box{ 
    display: grid;
   grid-template-columns: 167px 250px 255px 303px 300px;
   
    text-align: left;
}

.box__ready{ 
    display: grid;
   grid-template-columns: 80px 250px 255px 303px 100px 100px 300px;
   
    text-align: center;
}